.navbar {
  background-color: #333; 
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
  position: fixed; 
  width: 100%; 
  z-index: 1000; 
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar li {
  display: inline-block;
  margin: 0 10px;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.navbar li a:hover {
  background-color: #555;
}


body {
    display:flexbox;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 1px; 
}
